i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

img {
    height: 200px;
}
body {
    padding:150px 100px;
}
#delete {
    display: inline;
}
.goback {
    float: right;
}
.paddingDes{
    padding: 15px 0;
}
.paddingCont{
    padding:15px 0 22px 0;
}